@charset "utf-8";
/* CSS Document */
h1{
	
}
body{
	background-color: cyan;
	align: center;
}
img{
	border: medium solid black;
	
}
.button {
	display:block;
	vertical-align: top;
}
a{
	background-color: red;
}
