@charset "utf-8";
/* CSS Document */
body {
	background-color: #000000;
}
.table{
	background-color: #AA0002;
	text-color: white;
	color: white;
	height: 3vw
}
.table1{
	background-color: #AA0002;
	color: #AA0002;
}
p{
	display: inline-block;
}
.link {
	text-color: white;
}
a1{
	color: white;
}
a{
	background-color: #AA0002;
	text-color: white;
	color: white;
}
a2{
	background-color: #AA0002;
	text-color: white;
	display: inline-block;
	color: white;
}
img {
	background-color: #AA0002;
}
a5{
	background-color: #AA0002;
	height: 100px;
	color: #AA0002;
}
div{
	background-color: #AA0002;
	height: 5vw;
	width: 60vw;
}
div1{
	background-color: #AA0002;
	height: 20vw
	
}

