@charset "utf-8";
/* CSS Document */
p {
	display: inline-block;
	width: 200px;
	height: 50px;
	text-color:white;
}
.table {
	background-color: blue;
	color: white;
}
.link {
	text-color: white;
}
a1 {
	color: white;
}
a2{
	color: black;
}
text
{ text-color:white;}